<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
   http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans.xsd
   http://www.springframework.org/schema/context
   http://www.springframework.org/schema/context/spring-context.xsd
   http://www.springframework.org/schema/tx 
   http://www.springframework.org/schema/tx/spring-tx.xsd">
	<bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter" />
    <bean class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping" />
    
	<bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
        <property name="basename" value="messages" />
         <property name="defaultEncoding" value="UTF-8" />
    </bean>
    
	<bean id="loginDelegator" class="vn.com.phuclocbao.delegator.LoginDelegator">
		<property name="userService" ref="userService"></property>
	</bean>

	<bean id="userService" class="vn.com.phuclocbao.service.impl.DefaultUserService">
		<property name="userDao" ref="userDao"></property>
	</bean>
	<bean id="companyService" class="vn.com.phuclocbao.service.impl.DefaultCompanyService">
	</bean>
	<bean id="contractService" class="vn.com.phuclocbao.service.impl.DefaultContractService">
		<property name="companyDao" ref="companyDao"></property>
		<property name="contractDao" ref="contractDao"></property>
	</bean>
	<bean id="customerService" class="vn.com.phuclocbao.service.impl.DefaultCustomerService">
		<property name="customerDao" ref="customerDao"></property>
	</bean>

	<bean name="userDao" class="vn.com.phuclocbao.dao.impl.DefaultUserDao">
	</bean>
	<bean name="companyDao" class="vn.com.phuclocbao.dao.impl.DefaultCompanyDao">
	</bean>
	<bean name="contractDao" class="vn.com.phuclocbao.dao.impl.DefaultContractDao">
	</bean>
	<bean name="customerDao" class="vn.com.phuclocbao.dao.impl.DefaultCustomerDao">
	</bean>
	  <bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/phuclocbao" />
		<property name="username" value="root" />
		<property name="password" value="123456789" />
	</bean>  
	<bean id="jpaDialect" class="org.springframework.orm.jpa.vendor.HibernateJpaDialect" />
	<bean id="entityManagerFactoryBean"
        class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="persistenceUnitName" value="plb_unit" />
        <property name="dataSource" ref="dataSource" />
       <!--  <property name="persistenceXmlLocation" value="META-INF/persistence.xml" /> -->
         <property name="packagesToScan" value="vn.com.phuclocbao.entity" />
        <property name="jpaVendorAdapter" ref="jpaVendorAdapter" />
        <property name="jpaDialect" >
        	<bean class="org.springframework.orm.jpa.vendor.HibernateJpaDialect"></bean>
        </property>
        <property name="jpaProperties">
         <props>
            <prop key="hibernate.hbm2ddl.auto">validate</prop>
            <prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop>
            <prop key="hibernate.show_sql">true</prop>
         </props>
      </property>
    </bean>
	 <bean id="jpaVendorAdapter"
        class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
    </bean>
    <bean id="txManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactoryBean" />
		<property name="dataSource" ref="dataSource" />
		<property name="jpaDialect" ref="jpaDialect" />
	</bean>

	<tx:annotation-driven transaction-manager="txManager" />
	<!-- Validator -->
	<bean id="loginUserValidator" class="vn.com.phuclocbao.validator.LoginUserValidator" />
	<bean id="newContractValidator" class="vn.com.phuclocbao.validator.NewContractValidator" />
</beans>