<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
   http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
   http://www.springframework.org/schema/context
   http://www.springframework.org/schema/context/spring-context-3.0.xsd">
	<bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter" />
    <bean class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping" />
    
	<bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
        <property name="basename" value="messages" />
    </bean>
    
	<bean id="loginDelegator" class="vn.com.phuclocbao.delegator.LoginDelegator">
		<property name="userService" ref="userService"></property>
	</bean>

	<bean id="userService" class="vn.com.phuclocbao.service.impl.DefaultUserService">
		<property name="userDao" ref="userDao"></property>
	</bean>

	<bean name="userDao" class="vn.com.phuclocbao.dao.impl.DefaultUserDao">
		<!-- <property name="dataSource" ref="dataSource"></property> -->
	</bean>

	 <!-- <bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/jcg" />
		<property name="username" value="root" />
		<property name="password" value="toor" />
	</bean>  -->
	<bean id="loginUserValidator" class="vn.com.phuclocbao.validator.LoginUserValidator" />
</beans>